{
   "presets": [ [ "es2015", { "modules": false } ] ],
   "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread",
      "transform-flow-comments",
      "babel-plugin-transform-react-jsx",
      "react-hot-loader/babel"
   ],
   "sourceMap": "inline"
}
